/*Comentario CSS*/
body {
    background-color: #c6ac8f;
    color: #22333b;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
nav ul li {
    margin: 10px;
    display: inline-block;
} 
a{
    color: #c6ac8f;
}
header {
    background-color: #5e503f;
    color: #eae0d5;
    margin-top: 0;
    margin-bottom: 0;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2em;
}